<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="disp">
      <iframe src="/intro.html"></iframe>

      <iframe src="/brownian.html"></iframe>
    </div>


    <script>
      var storage = localStorage;

      function Backup(e) {
        // 保存
        storage.setItem("answer", JSON.stringify(e.value));
      }

      document.getElementById("textarea").value = JSON.parse(
        storage.getItem("answer")
      );
    </script>
  </body>
</html>
