body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #3df33d;
}


/* すべてに適用 */
div#div_1 {
  border: 2px solid #89f189;
  border-radius: 20px;
}

p#p_1,
p#p_2,
p#p_3,
p#p_4 {
  font-size: large;
}

div#answer {
  font-size: large;
}

/*
.disp {
  display: inline-flex;
  justify-content: space-around;
}
*/

iframe {

  width: 900px;
  height: 500px;

  border: 3px solid #89f189;
  border-radius: 15px;

}



/* 狭い幅に適用 */
@media screen and ( max-width:700px ){

  div#div_1 {
    border: 2px solid #89f189;
    border-radius: 20px;
  }
  
  p#p_1,
  p#p_2,
  p#p_3,
  p#p_4 {
    font-size: large;
  }
  
  div#answer {
    font-size: large;
  }
  
  /*
  .disp {
    display: inline-flex;
    justify-content: space-around;
  }
  */

  iframe {

    width: 400px;
    height: 250px;
  
    border: 3px solid #89f189;
    border-radius: 15px;

  }


  

}
